@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --background-verde-principal:#1bbfa0;
  --background-rosa: rgb(226, 43, 122);
  --height-header: 80px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: "Matemasie", sans-serif;
  color: white;
}

.active {
  font-size: 30px;
  text-align: center;
  font-family: "Matemasie", sans-serif;
  color: var(--background-rosa);
}
/* font-family: "Roboto", sans-serif; */